/* From Uiverse.io by barisdogansutcu */ 

@media only screen and (max-width: 768px) {
  
  
  article {
    /* padding: 50px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 2px black;
    border-radius: 10px;
    height: 250px;
  }
  @import url('https://fonts.cdnfonts.com/css/code');
  @import url('https://fonts.cdnfonts.com/css/twilight');
  @import url('https://fonts.cdnfonts.com/css/funky');
  @import url('https://fonts.cdnfonts.com/css/prompt');
  @import url('https://fonts.cdnfonts.com/css/milies');
  @import url('https://fonts.cdnfonts.com/css/backstreet');

  #header {
    /* background-image: url(photos/Untitled\ design\ \(1\).png); */
    background-size: cover;
    color: white;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    padding-top: 90px;
    height: 250px;
    width: 100%;
    background-color: black;
    line-height: 5px;
  }
  #sp1 {
    /* font-family: 'Code Light', sans-serif; */
    font-family: 'Code Bold', sans-serif;
    
    font-size: 2rempx;
    color: white;
  }
  #sp {
    font-family: 'Funky', sans-serif;
    /* font-family: 'Twilight', sans-serif;                                      */
    font-size: 40px;
  }
  #headerimg {
    height: 270px;
    width: 100%;    
  }
  
  /* #asdf {
    /* height: 188px; */
    /* width: 300px; */
  
  #homecontent {
    
    display: flex;
    flex-direction: column;
}
.card1 {
  margin: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  border-radius: 24px;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: px; */
  padding: 36px;
  border-radius: 22px;
  color: #ffffff;
  overflow: hidden;
  background: #0a3cff;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0px 0px 20px rgb(45, 35, 35);

}

/* .content::before {
  position: absolute;
  content: "";
  top: -4%;
  left: 50%;
  width: 90%;
  height: 8When did you play Vardha Lai Vaada? I. Video. White Duo's bottle photography, photography, photography. From the video. 0%;
  transform: translate(-50%);
  background: #ced8ff;
  z-index: -1;
  transform-origin: bottom;

  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
} */

/* .content::after {
  position: absolute;
  content: "";
  top: -8%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%);
  background: #e7ecff;
  z-index: -2;
  transform-origin: bottom;
  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1); */
/* } */

.content svg {
  width: 40px;
  height: 40px;
}

/* .content .para {
  z-index: 1;
  opacity: 1;
  font-size: 18px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
} */

/* .content .link {
  z-index: 1;
  color: #fea000;
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
} */

/* .content .link:hover {
  text-decoration: underline;
} */

/* .card1:hover {
  transform: translate(0px, -16px);
} */

/* .card1:hover .content::before {
  rotate: -8deg;
  top: 0;
  width: 100%;
  height: 100%;
} */

/* .card1:hover .content::after {
  rotate: 8deg;
  top: 0;
  width: 100%;
  height: 100%;
} */
#date {
  line-height: 2px;
  font-family: 'milies', sans-serif;
  font-size: 15px;
  font-weight: 200;
  width: 100%;
}
foot {
  background-image: url(photos/IMG_3289.JPG);
  background-size: cover;
  color: white;
  height: 100px;
  width: 100px;
  line-height: 15px;
  padding: 25px;
}
#no{
  color: white;
  font-size: 2rem  ;
}
#info {
  color: white;
}
#tech,#non-tech {
  width: 40%;
  font-family: 'Backstreet', sans-serif;
                                                
}
#jjcet {
  margin-left: 13px;
}
.one {
  font-family: 'Code Bold', sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.two{
  font-family: 'prompt', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
  color: white;
  text-shadow: 2px 2px rgb(116, 116, 116);
  text-transform: uppercase;
  cursor: pointer;
  border: solid 2px black;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 17px;
  background-color: hsl(49deg 98% 60%);
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

button:active {
  transform: scale(0.9);
  transition: all 100ms ease;
}

button svg {
  transition: all 0.5s ease;
  z-index: 2;
}

.play {
  transition: all 0.5s ease;
  transition-delay: 300ms;
}

button:hover svg {
  transform: scale(3) translate(50%);
}

.now {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  z-index: 2;
}

button:hover .now {
  transform: translateX(10px);
  transition-delay: 300ms;
}

button:hover .play {
  transform: translateX(200%);
  transition-delay: 300ms;
}

}


