@import url('https://fonts.cdnfonts.com/css/code');
  #card {
    /* background-color: rgba(255, 255, 255, 0.5);  */
    /* color:white; */
  }
  #cardbody {
    color: #089a36;
  }
  .card { 
    padding: 10px;
    width: 300px;
    margin-left: 14px;
    min-height: 310px;
    border-radius: 20px;
    transition: 0.8s;
    flex: 0 0 auto;
  }
  .card-title {
    font-size: 18px;
    font-family: 'Code Bold', sans-serif;   
    margin-top: 25px;
    margin-left: 20px;
  }
  
  .card-image {
    height: 170px;
    overflow: hidden;
  }
  
  .card-body {
    margin-top: -30px;
    color: #089a36;
  }
  
  .footer {
    margin: 20px;
    float: right;
    font-size: 13px;
    color: #000000;
  }
  
  .by-name {
    font-weight: 700;
  } 
  #image {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  .prev,
  .next {
    position: absolute;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px 15px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
  }
  .prev {
    left: 10px;
    transform: translateY(-50%);
  }
  
  .next {
    right: 10px;
    transform: translateY(-50%);
  }
  
  button:hover {
    background: rgba(255, 255, 255, 0.8);
  }
  
  .carousel {
    margin-top: 80px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    overflow-x: auto;
    padding: 10px 30px 70px 30px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
  }
  
  .text {
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    border-radius: 5px;
  }
.dot.active {
  background: rgb(255, 255, 255);
}
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #000000;

  }
  .carousel {
    scrollbar-width: bold;
    scrollbar-shadow-color: #000000;
    scrollbar-color: #089a36 #f1f1f1;
  }
  @media only screen and (min-width: 1200px) {
    .carousel {
      gap: 40px;
      padding: 10px 500px 100px 300px;
      }
    .card:hover {
      translate: 0 -10px;
    }
  }
  #myVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
    filter: brightness(40%);
  }

